name: PHPUnit tests

on:
    - push
    - pull_request

jobs:
    tests:
        if: "!contains(github.event.head_commit.message, 'skip ci')"
        runs-on: ubuntu-latest
        continue-on-error: ${{ matrix.experimental }}
        strategy:
            fail-fast: true
            matrix:
                php: [7.2, 7.3, 7.4, 8.0, 8.1]
                stability: [prefer-lowest, prefer-stable]
                experimental: [false]
        name: Tests on PHP ${{ matrix.php }} - ${{ matrix.stability }}

        steps:
            - name: Checkout code
              uses: actions/checkout@v2

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php }}
                  tools: composer:v2
                  coverage: none

            - name: Install dependencies
              run: composer update --${{ matrix.stability }} --prefer-source --no-interaction --no-progress

            - name: Execute tests
              run: vendor/bin/phpunit --verbose
